.bgColor {
  background: rgb(224, 43, 233);
  background: radial-gradient(
    circle,
    rgba(224, 43, 233, 1) 0%,
    rgba(104, 25, 168, 1) 100%
  );
}

.icons {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dyams {
  animation: animateIcon 20s infinite linear;
}

@keyframes animateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
